{% extends "collection/base.html" %}

{% block content %}

    <div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12">
        
        <img src="https://imgs.search.brave.com/E73Kijux-4TUioJ3zjLGsF1HMhd7Phl8kS2nrVZPqCQ/rs:fit:860:0:0/g:ce/aHR0cHM6Ly91bml2/ZXJzaWRhZGVzZGVt/ZXhpY28ubXgvbG9n/b3Mvb3JpZ2luYWwv/bG9nby1pbnN0aXR1/dG8tdGVjbm9sb2dp/Y28tZGUtdGlqdWFu/YS53ZWJw"
        alt="Artworks Banner"
        class="mx-auto mb-8 rounded-lg shadow-md w-8 h-6">

        <h1 class="text-3xl font-semibold mb-4">About</h1>

        <p class="text-gray-700">Bienvenido a Artworks, este es un proyecto de la materia de paginas web. Hecho por el alumno Eduardo Antonio Rodriguez Vasquez. </p>
        
        <h2 class="text-2xl font-semibold mt-6 mb-2">Descripcion General</h2>

        <p class="text-gray-700">Este proyecto consiste en una aplicación para guardar, compartir y coleccionar obras de arte o algún otro elemento de interés para los usuarios. La aplicación se inspira en aplicaciones tipo Pinterest, FIFA Ultimate Team o HearthStone donde los usuarios coleccionan elementos y los pueden comartir de alguna manera.</p>

        <h2 class="text-2xl font-semibold mt-6 mb-2">Requerimientos Tecnicos</h2>

        <p class="text-gray-700">En esta aplicación utilizaremos programación del lado del cliente utilizando las librerías htmx y hyperscript. De manera opcional puedes utilizar otras librerías o JS.</p>
    </div>
{% endblock %}