{% for collection in collections %}
    <tr>
        <td class="{% if collection.id == editing_collection_id %}bg-gray-200{% endif %} whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{ collection.name }}</td>
        <td class="{% if collection.id == editing_collection_id %}bg-gray-200{% endif %} whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ collection.description }}</td>
        <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
            {% if collection.id != editing_collection_id %}
            <button type="button" hx-get="{% url 'editar_coleccion' collection.id %}" hx-target="#modal" hx-swap="outerHTML" class="text-indigo-600 hover:text-indigo-900">Editar<span class="sr-only">, {{ collection.name }}</span></button>

            {% else %}
                <!-- Formulario de edición para la colección actual -->
                <!-- Agrega el formulario que necesitas para editar la colección -->
                <!-- Por ejemplo, puedes agregar campos de entrada para el nombre y la descripción -->
                <form method="post" action="{% url 'editar_coleccion' collection.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="collection_id" value="{{ collection.id }}">
                    <label for="new_name">Nuevo Nombre:</label>
                    <input type="text" id="new_name" name="new_name" value="{{ collection.name }}">
                    <br>
                    <label for="new_description">Nueva Descripción:</label>
                    <input type="text" id="new_description" name="new_description" value="{{ collection.description }}">
                    <br>
                    <button type="submit">Guardar cambios</button>
                </form>
            {% endif %}
        </td>
    </tr>
{% endfor %}
